<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Emergency Motivation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'resources/css/style.css'%}">
{#    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'resources/apple-touch-icon.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'resources/favicon-32x32.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'resources/favicon-16x16.png' %}">#}
{#    <link rel="manifest" href="{% static 'resources/site.webmanifest' %}">#}
{#    <link rel="mask-icon" href="{% static 'resources/safari-pinned-tab.svg' %}" color="#5bbad5">#}
{#    <meta name="msapplication-TileColor" content="#da532c">#}
{#    <meta name="theme-color" content="#ffffff">#}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
</head>

<body>
<div class="content-container">
    <div class="headline-text">
        <h1>Stop! Take a breath.</h1>
    </div>
    <div class="wrap">
        <button onclick="location.href='{% url 'emergencyboard/random_link' %}'" type="button" class="button">Emergency
            Motivation
        </button>
    </div>
    <div class="calm-person-image">
        <img src="{% static 'resources/calm.svg' %}" alt="Calm person.">
    </div>
    <div class="footer-container">
        <span><a href="https://www.nationaleatingdisorders.org/help-support/contact-helpline">BED Resources</a>
        | Created by <a href="http://darshankalola.com">Darshan Kalola</a></span>
        <div class="icon-attribution">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</div>
</body>

</html>